body{
    background-color: grey;
}
h1{
    text-align: center;
}
.image-gallery{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.image-container1{
    
   border-radius: 12px;
   margin:20px;
}
.image-container2{
    text-align: center;
    margin:5px;
}
.image-container3{
    margin:20px;

}
table{
    border-collapse: collapse;
    border-radius: 25px solid;
    box-shadow:5px 20px #888888;
    margin-left: auto;
    margin-right: auto;
}
thead{
    background-color: green;
    color: white;
}
.image-container1, .image-container2, .image-container3 {
    border-radius: 12px;
    margin: 20px;
    transition: transform 0.3s, border-color 0.3s;
}
.image-container1:hover, .image-container2:hover, .image-container3:hover {
    transform: scale(1.1);
    border: 3px solid #ffffff;
}